/* src/components/Navbar/Navbar.css */

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

button:focus {
  outline: none;
}

button svg {
  transition: transform 0.3s ease;
}

button svg.rotate-180 {
  transform: rotate(180deg);
}
